html, body {
    min-width: 320px;
    height: 100%;
    width: 100%;
}

body {
    text-align: center;
    font-family: 'Play', sans-serif;
}

h2 {
    margin-bottom: 25px;
}

a, a:focus {
    font-weight: 700;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.background {
    z-index: -2;
    position: fixed;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
}

.header {
    position: relative;
    height: 100%;
    width: 100%;
}

.header > div {
    position: relative;
    top: 40%;
}

.header > div.scroll-for-things {
    position: relative;
    top: 60%;
}

.slide {
    position: relative;
    height: 60%;
}

.slide .scroll-for-things {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -49px;
}

.scroll-for-things {
    font-size: 10px;
}

@media screen and (max-height: 430px) {
    .scroll-for-things {
        display: none;
    }
}

.doing ul {
    padding-left: 0px;
    list-style-type: none;
}

.spacer {
    height: 25%;
}

.work-grid {
    overflow: auto;
}

.work-grid[data-columns="3"] .column {
    width: 33%;
}

.work-grid[data-columns="2"] .column {
    width: 50%;
}

.work-grid[data-columns="1"] .column {
    width: 100%;
}

.column {
    text-align: left;
    float: left;
}

.work {
    padding: 5px 10px 15px 10px;
    margin: 0px 10px 20px 10px;
    max-width: 356px;
}

.work-grid[data-columns="1"] .work {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.work .image {
   margin-bottom: 8px;
   height: 125px;
   background-position: center center;
   background-size: cover;
}

.tag {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
}

.tag-date {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
}

.container > .scroll-for-things {
    position: relative;
    top: 75px;
}

.footer {
    margin-top: 150px;
    padding-bottom: 50px;
}

.image.black-mesa {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
}

.image.pong {
    background-position: center 43%;
}
