html, body {
    min-width: 320px;
    height: 100%;
    width: 100%;
}

body {
    background-color: #151515;
    text-align: center;
    font-family: 'Play', sans-serif;
    color: #eee;
}

h1, h2, h3, h4, h5 {
    transition-property: color;
    transition-duration: 1s;
}

h2 {
    margin-bottom: 25px;
}

a, a:focus {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    background-color: rgba(0, 0, 0, 0);
}

a:focus {
    outline: 5px auto #fff;
}

a.active,
a:hover {
    color: #fff;
    text-decoration: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #ccc;
}

li a,
p a {
    padding-left: 3px;
    padding-right: 3px;
}

a.active {
    cursor: default;
}

a.active,
.footer a:hover,
li a:hover,
p a:hover {
    background-color: #000;
    border-radius: 2px;
}

.background {
    height: 100%;
    width: 100%;
    background-position: center center;
    opacity: 0.3;
    position: absolute;
}

.background-container {
    background-color: #000;
    z-index: -2;
    position: fixed;
    height: 100%;
    width: 100%;
    transition-property: opacity;
    transition-duration: 1s;
    opacity: 0;
}

@media only screen
        and (min-device-width : 320px)
        and (max-device-width : 568px)
        and (min-device-width : 768px)
        and (max-device-width : 1024px) {
    background-position: center 0%;
}

.container {
    height: 100%;
}

.header {
    position: relative;
    height: 100%;
    width: 100%;
}

.header > div {
    position: relative;
    top: 35%;
}

.header > div.scroll-for-things {
    position: relative;
    top: 60%;
}

.slide {
    position: relative;
    height: 60%;
}

.slide .scroll-for-things {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -49px;
}

.scroll-for-things {
    font-size: 10px;
}

.doing ul {
    padding-left: 0px;
    list-style-type: none;
}

.spacer {
    height: 25%;
}

.work-grid {
    overflow: auto;
}

.work-grid[data-columns="3"] .column {
    width: 33%;
}

.work-grid[data-columns="2"] .column {
    width: 50%;
}

.work-grid[data-columns="1"] .column {
    width: 100%;
}

.column {
    text-align: left;
    float: left;
}

.work {
    padding: 5px 10px 15px 10px;
    margin: 0px 10px 20px 10px;
    max-width: 356px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid transparent;
    border-radius: 5px;
}

.work-grid[data-columns="1"] .work {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.work .image {
   margin-bottom: 8px;
   height: 125px;
   background-position: center center;
   background-size: cover;
}

.tag {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
    transition-property: background-color;
    transition-duration: 1s;
    border-radius: 2px;
}

.tag a,
.tag a:hover {
    transition-property: color;
    transition-duration: 0.2s;
    color: #ccc;
}

.tag-date {
    display: inline-block;
    padding: 0 5px;
    font-size: 12px;
}

.container > .scroll-for-things {
    position: relative;
    top: 75px;
}

.footer {
    margin-top: 150px;
    margin-bottom: 50px;
    max-width: 345px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    padding-left: 4px;
    padding-right: 4px;
}

#themes {
    margin-top: 15px;
    font-size: 12px;
}

.image-credits {
    height: 30px;
    font-size: 7px;
    margin-top: 2px;
}

.image.black-mesa {
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
}

.image.pong {
    background-position: center 43%;
}

@media screen and (max-height: 430px) {
    .scroll-for-things {
        display: none;
    }

    .footer {
        margin-top: 50px;
    }
}
