h1, h2,
.work h4,
a, a:focus {
    color: #56f0f2;
}

a:focus {
    outline: 5px auto #56f0f2#;
}

a.active,
a:hover {
    color: #ECF2F2;
}

a.active,
.footer a:hover,
li a:hover,
p a:hover {
    background-color: rgba(74, 190, 190, 0.69);
}

.tag {
    background-color: #006564;
}
