body {
    background-color: #000;
    color: #eee;
}

h1, h2,
.work h4 {
    color: rgb(244, 96, 197);
}

a, a:focus {
    color: #d75b9c;
    background-color: rgba(0, 0, 0, 0);
    transition-property: color background-color;
    transition-duration: 0.2s;
}

a:focus {
    outline: 5px auto #d75b9c;
}

a:hover {
    color: rgb(239, 12, 145);
    text-decoration: none;
}

p {
    color: #ccc;
}

li a,
p a {
    padding-left: 3px;
    padding-right: 3px;
}

li a:hover,
p a:hover {
    border-radius: 2px;
    background-color: rgba(50, 11, 34, 1);
}

.background {
    background-image: url('/assets/img/background-herschel.png');
    background-position: center center;
    opacity: 0.3;
}

@media only screen 
        and (min-device-width : 320px) 
        and (max-device-width : 568px)
        and (min-device-width : 768px) 
        and (max-device-width : 1024px) {
    background-position: center 0%;
}

.work {
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid transparent;
    border-radius: 5px;
}

.tag {
    transition-property: background-color;
    transition-duration: 0.2s;
    background-color: rgb(68, 17, 47);
    border-radius: 2px;
}

.tag a,
.tag a:hover {
    color: #ccc;
}

.footer a {
    padding-left: 4px;
    padding-right: 4px;
}
