h1, h2,
.work h4 {
    color: rgb(244, 96, 197);
}

a, a:focus {
    color: #d75b9c;
}

a:focus {
    outline: 5px auto #d75b9c;
}

a.active, 
a:hover {
    color: rgb(239, 12, 145);
}

a.active,
.footer a:hover,
li a:hover,
p a:hover {
    background-color: rgba(50, 11, 34, 1);
}

.tag {
    background-color: rgb(68, 17, 47);
}

