
header {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
  display: block;
}
author {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 10px;
  font-weight: italic;
  display: block;
}
text {
  color: #FFFFFF;
  font-family: Arial;
  font-size: 12px;
  font-weight: normal;
  display: block;
  text-align: justify;
}

