BODY {
scrollbar-face-color: #050505;
scrollbar-shadow-color: #808080;
scrollbar-highlight-color: #808080;
scrollbar-3dlight-color: #808080;
scrollbar-darkshadow-color: #808080;
scrollbar-track-color: #050505;
scrollbar-arrow-color: #808080;
}
A:active {COLOR: #7b7b7b; TEXT-DECORATION: underline}
A:hover {COLOR: #c1c1c1; TEXT-DECORATION: underline}
A:link {COLOR: #7b7b7b; TEXT-DECORATION: underline}
A:visited {COLOR: #7b7b7b; TEXT-DECORATION: underline}
TD { font-family : Arial; font-size : 12px; color : #ffffff; }
q { color: #9d9d9d; font-size: 10px; text-indent: 3cm }
body {background-attachment: fixed; } 

.quote {
	width: 360px;
}

.quotetitle {
	font-family : Arial;
	font-size : 11px;
	color : #ffffff;
}

.quotebox {
	border: 1px solid #3D3D3D;
	font-family : Arial;
	font-size : 10px;
	color : #ffffff;
	}
	
.codebox {
	border: 1px solid #3D3D3D;
	font-family : courier;
	font-size : 10px;
	color : #ffffff;
	}